<div id="container">
  <article class="brackets">

    <section>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
      <mat-card>
        <div><span class="country-title"></span></div>
        <div><span class="country-title"></span></div>
      </mat-card>
    </section>

    <div class="connecter">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="line">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>

    <section id="quarterFinals">
      <mat-card></mat-card>
      <mat-card></mat-card>
      <mat-card></mat-card>
      <mat-card></mat-card>
    </section>

    <div class="connecter" id="conn2">
      <div></div>
      <div></div>
    </div>

    <div class="line" id="line2">
      <div></div>
      <div></div>
    </div>

    <section id="semiFinals">
      <mat-card></mat-card>
      <mat-card></mat-card>
    </section>

    <div class="connecter" id="conn3">
      <div></div>
    </div>

    <section id="final">
      <mat-card></mat-card>
    </section>

  </article>
</div>
